@page
@model CreateLernsetModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Create a Lernset</h1>

<form method="post">
    Name:
    <input asp-for="Lernset.Name" class="form-control mt-1"/>
    <div asp-validation-summary="ModelOnly"></div>
    <span asp-validation-for="Lernset.Name" class="text-danger"></span>
    <ul id="Cards" class="p-0">
        <li id="Card" class="card mt-2">
            <div class="card-body">
                Begriff: <button class="btn btn-outline-danger"></button>
                <input type="text" asp-for="Lernset.Cards![0].Begriff" class="form-control mt-1 mb-2">
                Definition:
                <input type="text" asp-for="Lernset.Cards![0].Definition" class="form-control mt-1">
            </div>
        </li>
    </ul>
    <button type="button" id="AddCard" class="btn btn-primary">Add Cards</button>
    <br>
    <input type="submit" class="btn btn-primary mt-2" value="Lernset erstellen"/>
</form>

<script type="text/javascript">
    let counter = 0;
    $(document).ready(function () {
        $("#AddCard").click(function () {
            counter++;
            let newCard = $("#Card").clone();
            let begriff = newCard.children().first().children().first();
            let definition = newCard.children().first().children().first();
            let replaceIndex = (i, c) => c.replace("0", counter);
            
            begriff.attr("id", replaceIndex);
            begriff.attr("name", replaceIndex);
            begriff.val("");
            definition.attr("id", replaceIndex);
            definition.attr("name", replaceIndex);
            definition.val("");
            
            $("#Cards").append(newCard);
        });
    });
  
  
</script>