@page
@model CreateStudySetModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Create a Learnset</h1>

<form method="post">
    Name:
    <input asp-for="StudySet.Name" class="form-control mt-1"/>
    <div asp-validation-summary="ModelOnly"></div>
    <span asp-validation-for="StudySet.Name" class="text-danger"></span>
    <ul id="Cards" class="p-0">
        <li class="card mt-2">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-end">
                    <p class="mb-0">Term: </p>
                    <button class="btn btn-danger fs-6 deleteCard" disabled><i class="bi bi-file-earmark-x"></i></button>
                </div>
                <input type="text" class="form-control mt-1 mb-2" id="Begriff">
                <p>Definition:</p>
                <input type="text" class="form-control mt-1" id="Definition">
            </div>
        </li>
    </ul>
    <button type="button" id="AddCard" class="btn btn-primary">Add Card</button>
    <br>
    <input type="submit" class="btn btn-primary mt-2" value="Create Learnset"/>
</form>

<script type="text/javascript">
    let counter = 0;
    $(document).ready(function () {
        $("#AddCard").click(function () {
            let card = $(".card").first();
            card.find(".deleteCard").prop("disabled", false);
            counter++;
            let newCard = card.clone();
            let adjust = (c) => {
                let replaceIndex = (i, c) => c.replace("0", counter);
                c.attr("id", replaceIndex);
                c.attr("name", replaceIndex);
                c.val("");
            }
            adjust(newCard.find('#Begriff'));
            adjust(newCard.find('#Definition'));
            $("#Cards").append(newCard);
        });
        $(document).on("click", ".deleteCard", function (){
           $(this).parents(".card").remove();
           let cards = $(".card");
           if(cards.length === 1){
               cards.first().find(".deleteCard").prop("disabled", true);
           }
        });
    });
</script>