@page
@model ImportStudySetModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Import a Learnset</h1>

<form method="post">
    Name:
    <input asp-for="Title" class="form-control mt-1"/>
    <th scope="col">Import</th>
    <label for="exampleFormControlTextarea1">Import your Study Set here:</label>
    <textarea asp-for="TextArea" class="form-control" id="inputtext" rows="3"></textarea>
    <input type="submit" class="btn btn-primary mt-2" value="Create Learnset"/>
    <button type="button" class="btn btn-primary mt-2" id="preview" value="Preview">Preview</button>
</form>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Term</th>
        <th scope="col">Definition</th>
    </tr>
    </thead>
    <tbody id="Cards">
    
    </tbody>
</table>

<script type="text/javascript">
 let counter = 0;
     $(document).ready(function () {
         $("#preview").click(function () {
             let input = $("#inputtext").val();
             let sep = "\t";
             let listStringElements = input.split(/\r?\n/);
             for (let i = 0; i < listStringElements.length; i++){
                 let termanddefinition = listStringElements[i].split(sep);
                 if(termanddefinition.length !== 2){
                     continue;
                 } 
                 $("#Cards").append(`<tr class="studyset mt-2">
                                        <td class="mb-0">${termanddefinition[0]}</td>
                                        <td>${termanddefinition[1]}</td>
                                </tr>`)
             }
            
             
         });
     });
        
</script>