@page "{id:int}"
@model StudySetModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@Model.StudySet.Name</h1>

<a class="btn btn-primary" href="/Learn/@RouteData.Values["id"]">Learn</a>
<button type="button" class="btn btn-primary editButton">Edit</button>
<button type="button" class="btn btn-primary shareButton">Share</button>

<table class="table mt-5">
    <thead>
    <tr>
        <th scope="col">Term</th>
        <th scope="col">Definition</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var card in Model.StudySet.Cards!)
    {
        <tr>
            <td>@card.Term</td>
            <td>@card.Definition</td>
        </tr>
    }
    </tbody>
</table>