@page
@model StudySetsModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Your Lernsets</h1>

<button type="button" class="btn btn-primary newLernsetButton">new Lernset</button>

<div class="list-group mt-5">
    @foreach (var lernset in Model.Lernsets)
    {
        <a href="/Lernset/@lernset.StudySetId" class="list-group-item list-group-item-action">@lernset.Name</a>
    }
</div>
