@page
@model StudySetsModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Your Study Sets</h1>

<button type="button" class="btn btn-primary newStudySetButton">new Study Set</button>

<div class="list-group mt-5">
    @foreach (var studySet in Model.StudySets)
    {
        <a href="/StudySet/@studySet.StudySetId" class="list-group-item list-group-item-action">@studySet.Name</a>
    }
</div>
