@page
@model StudySetsModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Your Study Sets</h1>


<div class="list-group mt-3">
    @foreach (var studySet in Model.StudySets)
    {
        <a href="/StudySet/@studySet.StudySetId" class="list-group-item list-group-item-action">@studySet.Name</a>
    }
</div>
